--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE bearcoderr;




--
-- Drop roles
--

DROP ROLE bearcoderr_user;


--
-- Roles
--

CREATE ROLE bearcoderr_user;
ALTER ROLE bearcoderr_user WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:TR8Jp3cKXVlNrTEtNINzYA==$aNAaRnqzifLQBf0B9kWuLL849pxb9shYsUfROjJu1RI=:w0BJ2WzdMBRSbXVKduQ16xlq15sFTD3s8w9sEW1PLFI=';

--
-- User Configurations
--








--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: bearcoderr_user
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO bearcoderr_user;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: bearcoderr_user
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: bearcoderr_user
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: bearcoderr_user
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "bearcoderr" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: bearcoderr; Type: DATABASE; Schema: -; Owner: bearcoderr_user
--

CREATE DATABASE bearcoderr WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE bearcoderr OWNER TO bearcoderr_user;

\connect bearcoderr

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: bearcoderr_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO bearcoderr_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: bearcoderr_user
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO bearcoderr_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO bearcoderr_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO bearcoderr_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO bearcoderr_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO bearcoderr_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO bearcoderr_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO bearcoderr_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO bearcoderr_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO bearcoderr_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO bearcoderr_user;

--
-- Name: models_contactsettings; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_contactsettings (
    id bigint NOT NULL,
    "nameSontact" character varying(500) NOT NULL,
    "titleSontact" character varying(500) NOT NULL,
    "linkSontact" character varying(500),
    "imgSontact" character varying(500) NOT NULL,
    settings_id bigint NOT NULL
);


ALTER TABLE public.models_contactsettings OWNER TO bearcoderr_user;

--
-- Name: models_contactsettings_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_contactsettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_contactsettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_experiencesettings; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_experiencesettings (
    id bigint NOT NULL,
    "yearExperience" date NOT NULL,
    "year_old_Experience" date,
    "postExperience" character varying(500) NOT NULL,
    "companyExperience" character varying(500) NOT NULL,
    "textExperience" text NOT NULL,
    settings_id bigint NOT NULL
);


ALTER TABLE public.models_experiencesettings OWNER TO bearcoderr_user;

--
-- Name: models_experiencesettings_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_experiencesettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_experiencesettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_formshome; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_formshome (
    id bigint NOT NULL,
    "nameFormsHome" character varying(200) NOT NULL,
    "emailFormsHome" character varying(254) NOT NULL,
    "callFormsHome" character varying(10) NOT NULL,
    "massageFormsHome" text NOT NULL,
    time_create timestamp with time zone NOT NULL
);


ALTER TABLE public.models_formshome OWNER TO bearcoderr_user;

--
-- Name: models_formshome_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_formshome ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_formshome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_formsnews; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_formsnews (
    id bigint NOT NULL,
    "nameComm" character varying(500) NOT NULL,
    "emailComm" character varying(500) NOT NULL,
    "textComm" text NOT NULL,
    time_create timestamp with time zone,
    post_id bigint NOT NULL
);


ALTER TABLE public.models_formsnews OWNER TO bearcoderr_user;

--
-- Name: models_formsnews_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_formsnews ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_formsnews_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_gallerysite; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_gallerysite (
    id bigint NOT NULL,
    "titleGallery" character varying(200) NOT NULL,
    "slugGallery" character varying(50) NOT NULL,
    "dataGallery" date NOT NULL,
    "contentGallery" text
);


ALTER TABLE public.models_gallerysite OWNER TO bearcoderr_user;

--
-- Name: models_gallerysite_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_gallerysite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_gallerysite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_menusite; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_menusite (
    id bigint NOT NULL,
    "nameLink" text NOT NULL,
    link text NOT NULL,
    settings_id bigint NOT NULL
);


ALTER TABLE public.models_menusite OWNER TO bearcoderr_user;

--
-- Name: models_menusite_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_menusite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_menusite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_news; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_news (
    id bigint NOT NULL,
    imgnews character varying(100) NOT NULL,
    "dataNews" date NOT NULL,
    "countView" integer NOT NULL,
    published_at timestamp with time zone,
    titlenews character varying(500) NOT NULL,
    slugnews character varying(200),
    contentnews text NOT NULL,
    "imgPostMini" character varying(100),
    "contentPostMini" text,
    text_twitter text,
    category_id bigint
);


ALTER TABLE public.models_news OWNER TO bearcoderr_user;

--
-- Name: models_news_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_news ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_news_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_news_tags; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_news_tags (
    id bigint NOT NULL,
    news_id bigint NOT NULL,
    newstag_id bigint NOT NULL
);


ALTER TABLE public.models_news_tags OWNER TO bearcoderr_user;

--
-- Name: models_news_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_news_tags ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_news_tags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_newscategory; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_newscategory (
    id bigint NOT NULL,
    "titleCategory" character varying(500) NOT NULL,
    "slagCategory" character varying(500),
    "contentCategory" text NOT NULL
);


ALTER TABLE public.models_newscategory OWNER TO bearcoderr_user;

--
-- Name: models_newscategory_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_newscategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_newscategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_newstag; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_newstag (
    id bigint NOT NULL,
    "titleTag" character varying(500) NOT NULL,
    "slagTag" character varying(200)
);


ALTER TABLE public.models_newstag OWNER TO bearcoderr_user;

--
-- Name: models_newstag_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_newstag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_newstag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_numbersettings; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_numbersettings (
    id bigint NOT NULL,
    "numberTitle" character varying(500) NOT NULL,
    "numberText" character varying(500) NOT NULL,
    "numberDopSimvol" character varying(500) NOT NULL,
    settings_id bigint NOT NULL
);


ALTER TABLE public.models_numbersettings OWNER TO bearcoderr_user;

--
-- Name: models_numbersettings_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_numbersettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_numbersettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_photo; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_photo (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    caption character varying(200) NOT NULL,
    gallery_id bigint NOT NULL
);


ALTER TABLE public.models_photo OWNER TO bearcoderr_user;

--
-- Name: models_photo_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_photo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_photo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_servicessite; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_servicessite (
    id bigint NOT NULL,
    "imgServices" character varying(100) NOT NULL,
    "titleServices" character varying(200) NOT NULL,
    "exeptServices" text NOT NULL,
    "contentServices" text NOT NULL
);


ALTER TABLE public.models_servicessite OWNER TO bearcoderr_user;

--
-- Name: models_servicessite_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_servicessite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_servicessite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_settings; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_settings (
    id bigint NOT NULL,
    "imgHome" character varying(100) NOT NULL,
    "logoSite" character varying(100) NOT NULL,
    "favSite" character varying(100) NOT NULL,
    "titleHome" character varying(500),
    "buttonHeader" character varying(500) NOT NULL,
    "sub_titleHome" character varying(500) NOT NULL,
    "textHome" text NOT NULL,
    "copyText" character varying(500) NOT NULL,
    admin_email character varying(254) NOT NULL
);


ALTER TABLE public.models_settings OWNER TO bearcoderr_user;

--
-- Name: models_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_settings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_skillssettings; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_skillssettings (
    id bigint NOT NULL,
    "titleSkills" character varying(500) NOT NULL,
    "countSkills" integer NOT NULL,
    "imgSkills" character varying(100) NOT NULL,
    settings_id bigint NOT NULL,
    CONSTRAINT "models_skillssettings_countSkills_check" CHECK (("countSkills" >= 0))
);


ALTER TABLE public.models_skillssettings OWNER TO bearcoderr_user;

--
-- Name: models_skillssettings_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_skillssettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_skillssettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models_socialsettings; Type: TABLE; Schema: public; Owner: bearcoderr_user
--

CREATE TABLE public.models_socialsettings (
    id bigint NOT NULL,
    "altSocial" character varying(500) NOT NULL,
    "lincSocial" character varying(1000) NOT NULL,
    "classSocial" character varying(500) NOT NULL,
    settings_id bigint NOT NULL
);


ALTER TABLE public.models_socialsettings OWNER TO bearcoderr_user;

--
-- Name: models_socialsettings_id_seq; Type: SEQUENCE; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE public.models_socialsettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.models_socialsettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$OyHqnKdIpsYiKyvtWqA8vn$ib9q0BsYA9rHLOaTPI/94/EUJr+R/r0mLHNyZ99bwzw=	2024-12-17 10:56:06.32624+00	t	AlexWeb			bearcoderr@gmail.com	t	t	2024-12-17 10:56:00.525009+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	models	settings
8	models	servicessite
9	models	newstag
10	models	newscategory
11	models	gallerysite
12	models	news
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
09uokfoznuuayh3lfp8hj56culhx71jg	.eJxVjMEOwiAQRP-FsyFlEQSP3vsNZIFdqRpISnsy_rtt0oPeJvPezFsEXJcS1k5zmLK4CiVOv13E9KS6g_zAem8ytbrMU5S7Ig_a5dgyvW6H-3dQsJdtDeyINERWCt0ZwHpFkawjg5ntMIDZIicPThm0NtmkHXpm5-FiNGfx-QLmwDft:1tNVFG:2RWWu3IcklU-karOWK34oIZoAk1yzAKYr-nivBNSO1k	2024-12-31 10:56:06.32921+00
\.


--
-- Data for Name: models_contactsettings; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_contactsettings (id, "nameSontact", "titleSontact", "linkSontact", "imgSontact", settings_id) FROM stdin;
1	E-mail	bearcoderr@gmail.com	mailto:bearcoderr@gmail.com	flaticon-mail-inbox-app	1
\.


--
-- Data for Name: models_experiencesettings; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: models_formshome; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_formshome (id, "nameFormsHome", "emailFormsHome", "callFormsHome", "massageFormsHome", time_create) FROM stdin;
\.


--
-- Data for Name: models_formsnews; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_formsnews (id, "nameComm", "emailComm", "textComm", time_create, post_id) FROM stdin;
\.


--
-- Data for Name: models_gallerysite; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: models_menusite; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_menusite (id, "nameLink", link, settings_id) FROM stdin;
1	Главная	#	1
2	Опыт	/#resume-section	1
3	Что я могу?	/#services-section	1
4	Навыки	/#skills-section	1
5	Блог	/news/	1
6	Путешествия	/gallery/	1
\.


--
-- Data for Name: models_news; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: models_news_tags; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_news_tags (id, news_id, newstag_id) FROM stdin;
\.


--
-- Data for Name: models_newscategory; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: models_newstag; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_newstag (id, "titleTag", "slagTag") FROM stdin;
1	Впечатления	vpechatleniya
2	Фильмы/Сериалы	filmyserialy
3	Программирование	programmirovanie
4	Свой сайт	svoj-sajt
5	Python	python
6	Django	django
7	Парсер	parser
8	WordPress	wordpress
9	Docker	docker
10	Poetry	poetry
11	Linux	linux
12	Битрикс	bitriks
13	Работа с сервером	rabota-s-serverom
\.


--
-- Data for Name: models_numbersettings; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_numbersettings (id, "numberTitle", "numberText", "numberDopSimvol", settings_id) FROM stdin;
1	4	Компаний, в которых работал	+	1
2	15	Отработанных часов	k	1
3	150	Крупных интернет магазинов	+	1
4	11	Лет в сфере программирования	+	1
\.


--
-- Data for Name: models_photo; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_photo (id, image, caption, gallery_id) FROM stdin;
1	gallery_photos/gallery_photos/DSC03211_NonexNone.webp	Поездка в Германию - Фото 1	1
2	gallery_photos/gallery_photos/photo_2024-07-15_11-09-46_ri3bj3r_NonexNone_NonexNone.webp	Субботний Пикник на Острове в Северной Карелии: Незабываемый День - Фото 1	2
3	gallery_photos/gallery_photos/4_R1yySmV_NonexNone_NonexNone.webp	Готовлюсь к путешествию: поход по пути святого Иакова в Испании в сентябре - Фото 1	3
\.


--
-- Data for Name: models_servicessite; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: models_settings; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: models_skillssettings; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--



--
-- Data for Name: models_socialsettings; Type: TABLE DATA; Schema: public; Owner: bearcoderr_user
--

COPY public.models_socialsettings (id, "altSocial", "lincSocial", "classSocial", settings_id) FROM stdin;
1	ГитХаб	https://github.com/bearcoderr	fa-github	1
2	linkedin	https://www.linkedin.com/in/aleksey-achkasov-144a13179/	fa-linkedin-in	1
3	Twitter	https://x.com/Wandrovik	fa-twitter	1
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 24, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 674, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: models_contactsettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_contactsettings_id_seq', 1, true);


--
-- Name: models_experiencesettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_experiencesettings_id_seq', 5, true);


--
-- Name: models_formshome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_formshome_id_seq', 1, false);


--
-- Name: models_formsnews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_formsnews_id_seq', 1, false);


--
-- Name: models_gallerysite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_gallerysite_id_seq', 3, true);


--
-- Name: models_menusite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_menusite_id_seq', 6, true);


--
-- Name: models_news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_news_id_seq', 1008, true);


--
-- Name: models_news_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_news_tags_id_seq', 1, true);


--
-- Name: models_newscategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_newscategory_id_seq', 11, true);


--
-- Name: models_newstag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_newstag_id_seq', 13, true);


--
-- Name: models_numbersettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_numbersettings_id_seq', 4, true);


--
-- Name: models_photo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_photo_id_seq', 3, true);


--
-- Name: models_servicessite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_servicessite_id_seq', 5, true);


--
-- Name: models_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_settings_id_seq', 1, true);


--
-- Name: models_skillssettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_skillssettings_id_seq', 9, true);


--
-- Name: models_socialsettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bearcoderr_user
--

SELECT pg_catalog.setval('public.models_socialsettings_id_seq', 3, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: models_contactsettings models_contactsettings_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_contactsettings
    ADD CONSTRAINT models_contactsettings_pkey PRIMARY KEY (id);


--
-- Name: models_experiencesettings models_experiencesettings_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_experiencesettings
    ADD CONSTRAINT models_experiencesettings_pkey PRIMARY KEY (id);


--
-- Name: models_formshome models_formshome_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_formshome
    ADD CONSTRAINT models_formshome_pkey PRIMARY KEY (id);


--
-- Name: models_formsnews models_formsnews_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_formsnews
    ADD CONSTRAINT models_formsnews_pkey PRIMARY KEY (id);


--
-- Name: models_gallerysite models_gallerysite_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_gallerysite
    ADD CONSTRAINT models_gallerysite_pkey PRIMARY KEY (id);


--
-- Name: models_gallerysite models_gallerysite_slugGallery_key; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_gallerysite
    ADD CONSTRAINT "models_gallerysite_slugGallery_key" UNIQUE ("slugGallery");


--
-- Name: models_menusite models_menusite_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_menusite
    ADD CONSTRAINT models_menusite_pkey PRIMARY KEY (id);


--
-- Name: models_news models_news_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_news
    ADD CONSTRAINT models_news_pkey PRIMARY KEY (id);


--
-- Name: models_news models_news_slugnews_key; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_news
    ADD CONSTRAINT models_news_slugnews_key UNIQUE (slugnews);


--
-- Name: models_news_tags models_news_tags_news_id_newstag_id_74f7d6c1_uniq; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_news_tags
    ADD CONSTRAINT models_news_tags_news_id_newstag_id_74f7d6c1_uniq UNIQUE (news_id, newstag_id);


--
-- Name: models_news_tags models_news_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_news_tags
    ADD CONSTRAINT models_news_tags_pkey PRIMARY KEY (id);


--
-- Name: models_newscategory models_newscategory_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_newscategory
    ADD CONSTRAINT models_newscategory_pkey PRIMARY KEY (id);


--
-- Name: models_newstag models_newstag_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_newstag
    ADD CONSTRAINT models_newstag_pkey PRIMARY KEY (id);


--
-- Name: models_numbersettings models_numbersettings_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_numbersettings
    ADD CONSTRAINT models_numbersettings_pkey PRIMARY KEY (id);


--
-- Name: models_photo models_photo_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_photo
    ADD CONSTRAINT models_photo_pkey PRIMARY KEY (id);


--
-- Name: models_servicessite models_servicessite_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_servicessite
    ADD CONSTRAINT models_servicessite_pkey PRIMARY KEY (id);


--
-- Name: models_settings models_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_settings
    ADD CONSTRAINT models_settings_pkey PRIMARY KEY (id);


--
-- Name: models_skillssettings models_skillssettings_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_skillssettings
    ADD CONSTRAINT models_skillssettings_pkey PRIMARY KEY (id);


--
-- Name: models_socialsettings models_socialsettings_pkey; Type: CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_socialsettings
    ADD CONSTRAINT models_socialsettings_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: models_contactsettings_settings_id_774eea72; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_contactsettings_settings_id_774eea72 ON public.models_contactsettings USING btree (settings_id);


--
-- Name: models_experiencesettings_settings_id_160c0a65; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_experiencesettings_settings_id_160c0a65 ON public.models_experiencesettings USING btree (settings_id);


--
-- Name: models_formsnews_post_id_83f80b34; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_formsnews_post_id_83f80b34 ON public.models_formsnews USING btree (post_id);


--
-- Name: models_gallerysite_slugGallery_41d4b348_like; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX "models_gallerysite_slugGallery_41d4b348_like" ON public.models_gallerysite USING btree ("slugGallery" varchar_pattern_ops);


--
-- Name: models_menusite_settings_id_9aa53747; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_menusite_settings_id_9aa53747 ON public.models_menusite USING btree (settings_id);


--
-- Name: models_news_category_id_7087f25b; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_news_category_id_7087f25b ON public.models_news USING btree (category_id);


--
-- Name: models_news_slugnews_b6843d58_like; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_news_slugnews_b6843d58_like ON public.models_news USING btree (slugnews varchar_pattern_ops);


--
-- Name: models_news_tags_news_id_2f6f01a6; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_news_tags_news_id_2f6f01a6 ON public.models_news_tags USING btree (news_id);


--
-- Name: models_news_tags_newstag_id_94591847; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_news_tags_newstag_id_94591847 ON public.models_news_tags USING btree (newstag_id);


--
-- Name: models_newscategory_slagCategory_b17de430; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX "models_newscategory_slagCategory_b17de430" ON public.models_newscategory USING btree ("slagCategory");


--
-- Name: models_newscategory_slagCategory_b17de430_like; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX "models_newscategory_slagCategory_b17de430_like" ON public.models_newscategory USING btree ("slagCategory" varchar_pattern_ops);


--
-- Name: models_newstag_slagTag_11f696dd; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX "models_newstag_slagTag_11f696dd" ON public.models_newstag USING btree ("slagTag");


--
-- Name: models_newstag_slagTag_11f696dd_like; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX "models_newstag_slagTag_11f696dd_like" ON public.models_newstag USING btree ("slagTag" varchar_pattern_ops);


--
-- Name: models_numbersettings_settings_id_b6e5ab37; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_numbersettings_settings_id_b6e5ab37 ON public.models_numbersettings USING btree (settings_id);


--
-- Name: models_photo_gallery_id_956a9ff7; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_photo_gallery_id_956a9ff7 ON public.models_photo USING btree (gallery_id);


--
-- Name: models_skillssettings_settings_id_b1d04f88; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_skillssettings_settings_id_b1d04f88 ON public.models_skillssettings USING btree (settings_id);


--
-- Name: models_socialsettings_settings_id_2e9f650d; Type: INDEX; Schema: public; Owner: bearcoderr_user
--

CREATE INDEX models_socialsettings_settings_id_2e9f650d ON public.models_socialsettings USING btree (settings_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_contactsettings models_contactsettin_settings_id_774eea72_fk_models_se; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_contactsettings
    ADD CONSTRAINT models_contactsettin_settings_id_774eea72_fk_models_se FOREIGN KEY (settings_id) REFERENCES public.models_settings(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_experiencesettings models_experienceset_settings_id_160c0a65_fk_models_se; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_experiencesettings
    ADD CONSTRAINT models_experienceset_settings_id_160c0a65_fk_models_se FOREIGN KEY (settings_id) REFERENCES public.models_settings(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_formsnews models_formsnews_post_id_83f80b34_fk_models_news_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_formsnews
    ADD CONSTRAINT models_formsnews_post_id_83f80b34_fk_models_news_id FOREIGN KEY (post_id) REFERENCES public.models_news(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_menusite models_menusite_settings_id_9aa53747_fk_models_settings_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_menusite
    ADD CONSTRAINT models_menusite_settings_id_9aa53747_fk_models_settings_id FOREIGN KEY (settings_id) REFERENCES public.models_settings(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_news models_news_category_id_7087f25b_fk_models_newscategory_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_news
    ADD CONSTRAINT models_news_category_id_7087f25b_fk_models_newscategory_id FOREIGN KEY (category_id) REFERENCES public.models_newscategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_news_tags models_news_tags_news_id_2f6f01a6_fk_models_news_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_news_tags
    ADD CONSTRAINT models_news_tags_news_id_2f6f01a6_fk_models_news_id FOREIGN KEY (news_id) REFERENCES public.models_news(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_news_tags models_news_tags_newstag_id_94591847_fk_models_newstag_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_news_tags
    ADD CONSTRAINT models_news_tags_newstag_id_94591847_fk_models_newstag_id FOREIGN KEY (newstag_id) REFERENCES public.models_newstag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_numbersettings models_numbersetting_settings_id_b6e5ab37_fk_models_se; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_numbersettings
    ADD CONSTRAINT models_numbersetting_settings_id_b6e5ab37_fk_models_se FOREIGN KEY (settings_id) REFERENCES public.models_settings(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_photo models_photo_gallery_id_956a9ff7_fk_models_gallerysite_id; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_photo
    ADD CONSTRAINT models_photo_gallery_id_956a9ff7_fk_models_gallerysite_id FOREIGN KEY (gallery_id) REFERENCES public.models_gallerysite(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_skillssettings models_skillssetting_settings_id_b1d04f88_fk_models_se; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_skillssettings
    ADD CONSTRAINT models_skillssetting_settings_id_b1d04f88_fk_models_se FOREIGN KEY (settings_id) REFERENCES public.models_settings(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: models_socialsettings models_socialsetting_settings_id_2e9f650d_fk_models_se; Type: FK CONSTRAINT; Schema: public; Owner: bearcoderr_user
--

ALTER TABLE ONLY public.models_socialsettings
    ADD CONSTRAINT models_socialsetting_settings_id_2e9f650d_fk_models_se FOREIGN KEY (settings_id) REFERENCES public.models_settings(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: bearcoderr_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: bearcoderr_user
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO bearcoderr_user;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: bearcoderr_user
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

